/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


#save_the_day_button {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.welcome_headers {
	text-align: center;
}

#container_video {
	position: static;
	padding-bottom: 56.25%;
	padding-top: 1em;
	height: 0;
}

#orientation_video {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.buttonx button {
	background: url("../img/cork-wallet.png");

	font-size: 18pt;
	font-family: Times;

	width: 8em;
	height: 2em;

	border-radius: 0.5em;
	border: 0.1em solid red;
	box-shadow: 0.3em 0.3em 0.25em grey;

	margin-right: 1em;
	margin-bottom: 1.5em;
}

.buttonx button:hover {
	cursor: pointer;
	box-shadow: 0.3em 0.3em grey;
}

.buttonx button:active {
	margin-left: .8em;
	margin-right: 0.2em;
	margin-top: 0.2em;
	margin-bottom: 1.3em;
	box-shadow: 0em 0em grey;
}

#ready_button {
	width: 5em;
	margin-top: 2em;

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  

}